#world {
    margin: 0;
    padding: 0;
    
    width: 100000px;
    height: 100000px;
    
    background: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px);
    background-size: 25px 25px;
}

.logicContainer {
    user-select: none;

    position: absolute;
    background: white;
    border: solid 2px;
}

@property --lC-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.logicContainer.animate::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 5px;
    background-image: conic-gradient(orange var(--lC-angle), transparent 0deg);
    animation: 0.5s lC-load linear forwards;
    z-index: -1;
}

@keyframes lC-load {
    from {
        --lC-angle: 0deg;
    } to {
        --lC-angle: 360deg;
    }
}

.node {
    user-select: none;

    position: absolute;
    border: solid 2px;
    border-radius: 50%;
    background: white;
}

@property --n-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.node.animate::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    padding: 5px;
    translate: -50% -50%;
    border-radius: 50%;
    background-image: conic-gradient(orange var(--n-angle), transparent 0deg);
    animation: 0.5s n-load linear forwards;
    z-index: -1;
}

@keyframes n-load {
    from {
        --n-angle: 0deg;
    } to {
        --n-angle: 360deg;
    }
}

.debugUI {
    position: absolute;
    border: solid 1px;
    width: auto;
    height: auto;
    right: 0px;
    background: white;
    padding: 5px;
}